# exclude
/.vaultpass
/vaultpass
/packer/output
.DS_Store
venv
.venv
.env
docs/output

# ignore everything in inventory
inventory/*

# except group_vars dirs and files
!inventory/**/group_vars/
!inventory/**/group_vars/*

# except host_vars dirs and files
!inventory/**/host_vars/
!inventory/**/host_vars/*
