# exclude
/.vaultpass
/vaultpass
/packer/output
/inventory/*
.DS_Store
venv
.venv
.env
docs/output

# include
!/inventory/*/
!/inventory/group_vars/*/
!/inventory/host_vars/*/
!/inventory/production.ini
!/inventory/staging.ini

