[Desktop Entry]
Type=Application
Name=Revel Provisioner
Exec=pkexec ansible-pull --vault-password-file /home/revel/.vaultpass -U https://github.com/Revel-Media-Group/sos-provisioner.git playbooks/offline/fedora/after || read -p "Installation Failed. Contact Dev Team." FAILED
Terminal=True
